<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimun-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="Imágenes/Favico.ico">
        <link rel="stylesheet" href="CSS/Main.css">
        <title>Layout Básico</title>
    </head>
    <body>

        <div class="Contenedor">

            <header>
                <nav>
                    <ul>
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Acerca de</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav>
            </header>

            <section class="Main">
                <div class="Imagen">
                    <img src="Imágenes/FotoKari.jpg" width="600" alt="">
                </div>
                <section class="Post">
                    <article>
                        <h2>Titulo del artículo:</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Quia, eaque repudiandae nisi amet cupiditate dolorum assumenda explicabo quidem, nihil quam, sed modi vel porro accusamus sunt. Voluptatem culpa quia officia?</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Eos excepturi corrupti iure, eligendi fuga repellendus? Exercitationem esse repellat culpa, maiores dolor harum eius saepe voluptatum omnis, reprehenderit ipsum autem beatae!
                        </p>
                    </article>
                </section>                
            </section>

            <aside>
                <div class="widget">
                    <h3 class="titulo">Artículos destacados</h3>
                    <ul>
                        <li><a href="#">Probando probando probando</a></li>
                        <li><a href="#">Probando probando probando</a></li>
                        <li><a href="#">Probando probando probando</a></li>
                        <li><a href="#">Probando probando probando</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h3 class="titulo">Información</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                        Corporis minus saepe numquam eligendi dolor! Repellendus eveniet labore dolor, repellat doloribus aliquid, distinctio esse, quae quidem sequi itaque tenetur vel rem.</p>
                </div>
            </aside>

            <footer>
                <p> Página diseñada por Alan-Casla</p>
            </footer>
        </div>
    </body>
</html>